@using Umbraco.Web.Mvc;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    @* Get the root of the website *@
    var root = CurrentPage.AncestorOrSelf(1);
}

<!doctype html>
<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="car repair, japanese cars, car parts, imported japanese cars" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="/Content/images/ico.png">

    <!--bootstrap-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!--coustom css-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <!--default-js-->
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <!--bootstrap-js-->
    <script src="~/scripts/bootstrap.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="logo">
                <a href="~/"><img src="~/Content/images/logo.jpg" /></a>
            </div>
            <div class="head-mid">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><p>Email : </p><br>
                <p><a href="mailto:skycars.repair@gmail.com">skycars.repair@gmail.com</a> </p>
            </div>
            <div class="ad-ph">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span><p>Call Us : </p><br>
                <p>+64 27 666 6867 </p>
                <p>+64 9 525 6990 </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header_nav" id="home">
        <div class="container">
            <nav class="navbar navbar-default chn-gd">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                @Html.Partial("_Menu")
            </nav>
        </div>
    </div>
    @if (CurrentPage.HasValue("bannerImage")) { 
        <div class="banner" style="background-image: url(@Umbraco.Media(CurrentPage.bannerImage).Url)">
            @*<img src="" alt=”@CurrentPage.PageTitle” />*@
        </div>
    }
    <div>
        <div class="container">
            <div class="col-md-12 page">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="col-md-4 contact-left">
                <h4>Address</h4>
                <address>
                    273 Mount Smart Road, Onehunga<br>
                    Auckland 1061, New Zealand<br>
                </address>
            </div>
            <div class="col-md-4 contact-left">
                <h4>Phone</h4>
                <p>Phone : +64 27 666 6867 </p>
                <p>Phone : +64 9 525 6990 </p>
            </div>
            <div class="col-md-4 contact-left">
                <h4>Email</h4>
                <p>Email : <a href="mailto:skycars.repair@gmail.com">skycars.repair@gmail.com</a> </p>
            </div>
            <div class="clearfix"></div>
            <div class="copyright">
            </div>
        </div>
    </div>
    <!--  footer -->
</body>
</html>