@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MvcApplication1.Model;
@{
    Layout = "Base.cshtml";
    var Id = HttpContext.Current.Request["Id"];

    if (Id != null)
    {
        <section class="cardetails">
            @Html.Action("Get", "Car", new { Id = int.Parse(Id) });
        </section>
    }
    else
    {
        @Html.Partial("_Error")
    }
}