@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using MvcApplication1.Model;
@{
	Layout = "Base.cshtml";
}

<section class="cars">
@Html.Action("Search", "Car", new SearchViewModel())
</section>