@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@model MvcApplication1.Model.CarDetailsViewModel
@using ContentModels = Umbraco.Web.PublishedContentModels;


@{
	Layout = "Base.cshtml";
}

<section class="cardetails">

@Html.Action("RenderCarDetails","Car")

</section>