@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "~/Views/Base.cshtml";
}

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<section class="mainbody">
    <h3>@CurrentPage.PageTitle</h3>
    <div class="maincontent">
        @CurrentPage.pageContent
    </div>
</section>


@{
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}
@Html.Action("ContactForm", "ContactUs")

