@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Page>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Base.cshtml";
}

<section class="mainbody">
    <h3>@CurrentPage.PageTitle</h3>
    <div class="maincontent">
        @CurrentPage.pageContent
    </div>
</section>

@if(CurrentPage.IsCarSalePage){
    <section class="cars">
        @Html.Partial("CarsList")
    </section>
}